.place__left{
    padding: 50px 130px;
    overflow-y: auto;
}

.place__badgeList{
    display: flex;
    margin-top: 50px;
}

.place__badgeList p{
    margin-right: 30px;
}

.place__headline{
    font-size: 35px;
    font-weight: bold;
    margin-top: 50px;
}

.place__descriptionShort{
    font-size: 16px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
}

.place__descriptionLong{
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}