.placeCard{
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 0px 10px 0px #e6e6e6;
}

.placeCard__image{
    border-radius: 10px;
}

.placeCard__info{
    padding: 0px 10px 10px 10px;
}

.placeCard__name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.placeCard__description{
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
}

.placeCard__badge{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.placeCard__badgeIcon{
    height: 15px;
    margin-right: 10px;
}