.readMore__button{
    font-size: 16px;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.readMore__icon{
    height: 8px;
    margin-right: 10px;
}

.readMore__iconActive{
    transform: rotate(180deg);
}