.skeletonPlaceCard{
    border: 1px solid #e9e9e9;
    padding: 8px;
    border-radius: 10px;
}

.skeletonPlaceCard__info{
    padding: 0px 10px 10px 10px;
}

.skeletonPlaceCard__name{
    margin-top: 15px;
}

.skeletonPlaceCard__description:first-of-type{
    margin-top: 10px;
}

.skeletonPlaceCard__badge{
    margin-top: 10px;
}